/* 

write your code here

*/

/* Only apply styles for the first section ("What We Do") */
.tm-content-box.flex-2-col {
  display: flex;
  flex-wrap: wrap;
}

/* Adjust styles for the description container and the image */
.tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item
 ,.tm-content-box.flex-2-col .flex-item{
  width: 35%; /* Set each item to take up 50% of the width */
  box-sizing: border-box;
  padding:0px; /* Adjust padding as needed */
}
.tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item
{
  padding-left: 20px;
  padding-top: 130px;
  padding-bottom: 100px;
}
.tm-content-box.flex-2-col .flex-item
{
  width:65%;
  padding-left: 25px;
}

/* Reduce image size */
.tm-content-box.flex-2-col .flex-item img {
  max-width:100%; /* Ensure the image does not exceed its container width */
  height: 100%; /* Maintain the aspect ratio */
}

/* Change color of the first letter in each paragraph to lightskyblue */
.tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item p::first-letter {
  color: #87CEFA;
  font-size: 30px;
  padding-left:20px;
}

/* Style for the first letter in the banner text */
.tm-content-box .tm-banner .tm-banner-inner p:first-letter {
  color: #87CEFA;
}

/* Make each first paragraph after h2 italic */
h2+ p {
  font-style: italic;
}
h2+ p::first-letter {
  color: #282828;
  font-size: 15px;
}

/* Hover effect */
#about .boxes .box:hover h2 {
  background-color: #87CEFA; /* Skyblue background on hover */
  color: #fff; /* White text color on hover */
  font-weight: 500;
}

/*to adjust left and right spacing of divs*/
.tm-main-content {
  padding-right: 155px;
  padding-left:155px;
}

/* Add box shadow to navigation */
.tm-sidebar {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; /* Adjust the shadow color and size as needed */
}

/* Add box shadow to each content block */
.tm-content-box {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 153, 153, .45); /* Adjust the shadow color and size as needed */
}

/* Add grey border to the banner */
#home .tm-banner{
  background: rgb(221, 221, 221);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 153, 153, .45)
}
.tm-banner .tm-banner-inner{
  background:white;
}

.carousel-item.active .carousel-content h2.tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}

/* Submit button styles */
.btn.btn-primary.submit-btn {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-left:81%;
  margin-right:1%;
  width: 130px ;
  padding:10px;
}

/* Hover effect for the submit button */
.btn.btn-primary.submit-btn:hover {
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}

/* Hover effect for navigation items */
.tm-main-nav ul li.tm-nav-item:hover {
  background-color: gainsboro; /* Grey background on hover */
}

.form-group-2-col-right::after {
  content: '*';
  font-weight: bold;
  color: rgb(250, 5, 5); /* Set the color of the asterisk to red or your desired color */
  margin-left: 2px; /* Adjust the spacing between the email field and the asterisk */
}

/* List styling for the block */
.blocks .tm-content-box ul.boxes.gallery-container {
  list-style-type: none;
  padding: 0; /* Remove default padding */
}

.blocks .tm-content-box ul.boxes.gallery-container li.box-work {
  margin-bottom: 15px; /* Adjust the spacing between each li */
  padding: 7px; /* Add padding to each li */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-size: 11px;
}
.blocks .tm-content-box ul.boxes.gallery-container li.box-work h2{
  font-size: 20px ;
}
.blocks .tm-content-box ul.boxes.gallery-container li.box-work:hover {
  background-color: lightgray; /* Background color on hover */
}


.heading a {
  text-decoration: none; /* Remove default underline for unvisited links */
  color: black; /* Set default text color for unvisited links */
}


/* Style for visited links */
.heading a:visited {
  text-decoration: underline
  !important;
}


.heading a:hover {
  text-decoration: none; 
  color: lightblue; /* Change text color on hover */
}


/* Add 'new' label as superscript with red color for specific items */
.heading .text[href="index.html"]::after,
.heading .text[href="#"][class="text"]::after {
  content: ' New'; /* Add 'new' label */
  color: red; /* Set color for the 'new' label */
  position: relative;
  top: -0.5em; /* Adjust the vertical position */
  font-size: 0.8em; /* Adjust the font size */
  font-weight:light;
}


/* Styling visited links to be underlined */
.heading.tm-content-box li a:visited {
  text-decoration: underline;
}
/********************************/
/* Print Styles */

  @media print 
  {

    /*to adjust left and right spacing of divs*/
    .tm-main-content {
      padding: 0px;
    }
    
    /* Only apply styles for the first section ("What We Do") */
    .tm-content-box.flex-2-col {
      display: flex;
      flex-wrap: wrap;
      margin-left: 45px;
    }
  
    .tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item .tm-section-title{
      color:blue;
    }
    
    /* Adjust styles for the description container and the image */
    .tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item,
    .tm-content-box.flex-2-col .flex-item {
      width: 55%; /* Set each item to take up 50% of the width */
      box-sizing: border-box;
      padding: 0px; /* Adjust padding as needed */
    }
    .tm-content-box.flex-2-col .flex-item{
      width: 40%;
    }
    /* Reduce image size */
    .tm-content-box.flex-2-col .flex-item img {
      max-width: 185px; /* Ensure the image does not exceed its container width */
      height: 185px; /* Maintain the aspect ratio */
    }
  
    /* Change color of the first letter in each paragraph to lightskyblue */
    .tm-footer p::first-letter,.tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item p::first-letter {
      color: #87CEFA;
      font-size: 30px;
      padding-left:20px;
    }

    /* Style for the first letter in the banner text */
  .tm-content-box .tm-banner .tm-banner-inner p:first-letter {
    color: #87CEFA;
  }

    /*apply italic to only first para*/
    .tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item p:first-of-type {
      font-style: italic;
    }
    
    /* Hide other sections for print */
    section:not(:first-of-type) {
      display: none;
    }
  
    /* Hide navigation, sidebar*/
    .tm-sidebar,
    .tm-main-nav, .tm-main-content .tm-content-box ul{
      display: none;
    }

  }
  
  